%section.landing-section
	.cover
		.wrapper
			.container
				.row
					.col-md-5
						%h2.title Revv Technical Challenge
					.col-md-5.content
						%h2 ONE-CLICK PAYMENTS TO POWER YOUR CAUSE.
						= link_to "The Challenge", "#challenge", :class => 'btn btn-default btn-clear btn-large scroll-button'

%section.about-section{id: 'challenge'}
	.container
		.row
			.col-md-12
				%h2 The Challenge
				%hr
				.col-md-10.col-md-offset-1
					.text-center
						.col-md-8.col-md-offset-2
							- if current_user
								%p Add, View or Modify products
								= link_to "Products", products_path, :class => 'btn btn-primary btn-large'
							- else
								%p Sign in to use Stripe Connect or add products 
								= link_to "Sign in", new_user_session_path, :class => 'btn btn-primary btn-large'

%section.product-section{id: 'products'}
	.container
		.row
			.col-md-12
				%h2 Donation Campaigns
				%hr
				.products
					- if current_user
						- @products.each do |product|
							= render :partial => 'products/product', :locals => { :product => product, :view_only => :false }
				- if @products.count == 0 
					%p No products available