.container
	.row
		.col-md-12
			.hero-unit.text-center
				%h1 Hello, Revv Team!
				%p
					- if current_user
						= link_to "Stripe Connected", "#", :class => 'btn btn-default btn-large btn-disabled'
					- else
						= link_to "Stripe Connect", user_stripe_connect_omniauth_authorize_path, :class => 'btn btn-primary btn-large stripe-connect'
					= link_to "Add/Update Products", products_path, :class => 'btn btn-primary btn-large'
				%small You must connect your Stripe account before you can purchase any products.

	.row
		.col-md-12
			.products
				- if current_user
					- @products.each do |product|
						.col-md-4
							.product
								%img{:src => "http://placehold.it/350x150"}
								.title
									%b.pull-right=number_with_precision(product.price, precision: 2)
									%b=product.name
								
								%p.description=product.description
								.pay-button.text-center
									= link_to "Purchase", payment_path(product: product), :class => 'btn btn-primary btn-large'