.container
	.row
		.col-md-12
			.hero-unit.text-center
				%h1 Hello, Revv Team!
				%p Connect your Stripe accounts or add products
				%p
					%a.btn.btn-primary.btn-large Connect Stripe
					
					= link_to "Modify Products", products_path, :class => 'btn btn-primary btn-large'

	.row
		.col-md-12
			.products
				- @products.each do |product|
					.col-md-4
						.product
							%img{:src => "http://placehold.it/350x150"}
							.title
								%b.pull-right=product.price
								%b=product.name
							
							%p.description=product.description
							.pay-button.text-center
								= link_to "Purchase", payment_path(product: product), :class => 'btn btn-primary btn-large'