.container
  .row
    .col-sm-4.col-sm-offset-4
      .light-well
        %h2.page-header.text-center Stripe Connect
        = link_to "Register Seller", user_stripe_connect_omniauth_authorize_path, :class => 'btn btn-success btn-large stripe-connect btn-block'
