<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Guy,</h1>
    <p>
   		Thanks for your order. We charged you :).
    </p>
    <p>
    	You purchased <%= @product.name %>.
    </p>
    <p>
    	You can visit your charge at <a target='_blank' rel='#{params[:charge_on]}-account' href='https://dashboard.stripe.com/test/payments/<%= @charge %>'>View in dashboard</a>. Please make sure you are logged in to your platform account before clicking the link or you will be sent to a 404 page within Stripe.
    </p>
  </body>
</html>